@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

/* scss-lint:disable UnknownAtRule */
/* css@at-rule-ignored */
@theme {
  --font-sans: "Montserrat", sans-serif;
  --font-principal: "Montserrat", sans-serif;

}

:root {
  --primary: #0260eb;
  --secondary: #02b6be;
}

/* Chrome, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}